h1 {
  color: red;
}
.width200 {
  width: 200px;
  height: 200px;
}
.background-color {
  background-color: #df25dfdf;
  width: 200px;
  height: 200px;
}
.background-image {
  background-image: url("/image/mglass.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* width: 200px;
  height: 200px; */
}
.border {
  /* border: 10px solid red;
  border: 10px dotted red; */
  border: 10px dashed red;
  border-bottom: 10px dashed blue;
  border-right: 10px dashed green;
}

.margin {
  margin: 50px 100px 30px 100px;
  /* margin: top right bottom left */
  background-color: yellow;
}

.padding {
  /* padding: 50px 20px 50px 20px; */
  /* padding: top right bottom left */
  /* if have one postion. it response all */
  /* padding: 50px; */
  padding-bottom: 50px;
  padding-right: 90px;
  background-color: gold;
}

.width-height {
  width: 300px;
  height: 400px;
  background-color: green;
  /* width: 100%; */
  /* height: 50vh; */
  width: 200pt;
  /* vh= viwe height. px= pixel. pt = point */
  max-width: 200px;
  /* lock ควางกว้าง */
  max-height: 200px;
  /* lock ความสูง */
}
.mixed-width {
  width: 200px;
  height: 200px;
  padding: 30px;
  /* margin: 50px; */
  border: 10px solid red;
}
.outline {
  /* outline: 15px solid green; */
  outline: 15px double green;
  outline-offset: 15px;
  border: 10px solid red;
  /* margin: 30px; */
}

.text {
  margin: 100px;
}
.text p {
  text-align: center;
  /* text-align: justify; */
}

.text .left {
  text-align: left;
  text-decoration: underline;
  text-decoration: overline;
  text-decoration: line-through;
  text-decoration-color: red;
}

.text .right {
  text-align: right;
  /* text-transform: uppercase;
  text-transform: lowercase; */
  text-transform: capitalize;
}

.text .indent {
  text-indent: 50px;
  letter-spacing: 3px;
  /* letter-spacing: -1px; */
  front-size: 20px;
  line-height: 30px;
  word-spacing: 20px;
  text-shadow: 5px 5px 10px red;
}

.font {
  margin: 2px;
}

.font b:first-child {
  font-family: "Roboto";
  font-size: 20px;
}

.font p:nth-child(2) {
  text-align: left;
  font-family: "Roboto";
  font-weight: 50;
  font-style: oblique;
}
.font p:nth-child(3) {
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
}
.link a:link {
  color: red;
}
.link a:visited {
  color: green;
}
.link a:hover {
  color: orange;
  background-color: black;
}

.list ul {
  list-style-type: square;
  background-color: royalblue;
}
.list ul li {
  list-style-position: inside;
  background-color: orangered;
  margin: 5px;
  margin-left: 20px;
}
.display p:first-child {
  display: none;
}
.display p:nth-child(2) {
  display: block;
}
.display p:nth-child(3) {
  background-color: red;
  display: inline;
}
.display p:nth-child(4) {
  background-color: orange;
  display: inline-block;
}
.display p:nth-child(6) {
  background-color: green;
  display: inline;
}
/* FLEX */
.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  background-color: aquamarine;
}
/* .flex .flex-item {
  flex: 1;
  height: 30px;
  margin: 5px;
  background-color: yellowgreen;
} */
.flex .flex-item:first-child {
  /* flex: 2; */
  height: 30px;
  width: 400px;
  margin: 5px;
  background-color: yellowgreen;
}
.position {
  position: relative;
  height: 1000px;
}
.position div:first-child {
  position: static;
}
.position div:nth-child(2) {
  position: absolute;
  top: 200px;
  right: 0;
  bottom: 0;
  left: 0;
}
.position div:nth-child(3) {
  position: relative;
  top: 100px;
  left: 100px;
}
.position div:nth-child(4) {
  position: fixed;
  top: 0px;
  left: 0px;
}
.position div:nth-child(5) {
  position: sticky;
  top: 10px;
}
.overflow {
  overflow: auto;
  height: 300px;
}
.overflow .box {
  height: 1000px;
  width: 150%;
  background-color: black;
}
.float {
}
.float .left {
  float: left;
  background-color: red;
  width: 100px;
  height: 100px;
}
.float .right {
  float: right;
  background-color: orange;
  width: 100px;
  height: 100px;
}

.float .normal {
  background-color: blueviolet;
  width: 100px;
  height: 100px;
}
